absl-py==1.2.0
aiohttp==3.8.3
aiosignal==1.3.1
albumentations==1.3.0
albumentations-experimental==0.0.1
alembic==1.9.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
black==22.12.0
bokeh==2.4.2
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.5
comm==0.1.2
contourpy==1.0.7
cryptography==39.0.0
cycler==0.11.0
Cython==0.29.33
databricks-cli==0.17.4
debugpy==1.6.5
decorator==5.1.1
distlib==0.3.4
distro==1.8.0
dlib==19.24.0
docker==6.0.1
docutils==0.19
easydict==1.10
einops==0.6.0
empy==3.3.4
entrypoints==0.4
executing==0.9.1
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.7.1
flake8==5.0.4
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
gdown==4.6.0
genomes==1.1.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.9.1
google-auth-oauthlib==0.4.6
greenlet==2.0.1
grpcio==1.51.1
gurobipy==10.0.0
h5py==3.7.0
huggingface-hub==0.11.1
idna==3.3
ifcfg==0.23
imagecorruptions==1.1.2
imageio==2.24.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
imutils==0.5.4
install==1.3.5
ipykernel==6.20.2
ipython==8.4.0
isort==4.3.21
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
Js2Py==0.74
jupyter_client==7.4.9
jupyter_core==5.1.3
kiwisolver==1.4.4
lark-parser==0.12.0
llvmlite==0.39.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.3
mccabe==0.7.0
mlflow==2.1.1
mmcls==0.25.0
multidict==6.0.4
mypy-extensions==0.4.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.0
numba==0.56.4
numpy==1.21.5
oauthlib==3.2.0
opencv-contrib-python==4.5.5.62
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
packaging==21.3
pandas==1.5.2
parso==0.8.3
pathspec==0.11.0
patool==1.12
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.2
prompt-toolkit==3.0.30
protobuf==4.21.2
psutil==5.9.4
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.9.1
pycparser==2.21
pydot==1.4.2
pyflakes==2.5.0
Pygments==2.12.0
pyjsparser==2.7.1
PyJWT==2.6.0
pyparsing==3.0.6
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pyRpc==0.4.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==305
PyYAML==6.0
pyzmq==19.0.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qudida==0.0.4
querystring-parser==1.2.4
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.11.2
shap==0.41.0
shapely==2.0.0
six==1.16.0
slicer==0.0.7
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
sqlparse==0.4.3
stack-data==0.3.0
tabulate==0.9.0
tb-nightly==2.12.0a20230126
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2207130030
threadpoolctl==3.1.0
tifffile==2022.10.10
timm==0.6.12
tomli==2.0.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.1
tqdm==4.64.0
traitlets==5.8.1
typing_extensions==4.0.1
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.11
virtualenv==20.14.1
waitress==2.1.2
wcwidth==0.2.5
websocket-client==1.4.2
Werkzeug==2.2.2
wget==3.2
wktplot==2.3.2
xyzservices==2022.9.0
yacs==0.1.8
yapf==0.32.0
yarl==1.8.2
zipp==3.11.0
